@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>
<br/>
<div class="justify-content-center">
    <p>Name:	Geronimo Alcantara</p>
    <p>Address:	Letterkenny, Co. Donegal, Ireland</p>
    <p>Phone:	+353 83 836 5170</p>
    <p>Email:	galcantarajr@gmail.com</p>
    <p>Skype:	geronimo_alcantara</p>
</div>
