@page
@model Robusoft.Pages.ServicesModel
@{
    ViewData["Title"] = "Services";
}
<h1>@ViewData["Title"]</h1>
<br/>
<h3>Design & development</h3>
<div class="justify-content-center">
    We build clean, Google optimised sites for all our clients providing a perfect starting point or progression.
</div>
<br/>
<h3>Support</h3>
<div class="justify-content-around">
    We know that running a business + marketing + a website can end up a 24/7 job, why not let us specialist do the marketing and web for you.
</div>
<br/>
<h3>Marketing</h3>
<div class="justify-content-evenly">
    We are always at the fore front of marketing & provide the best avenues for either local or national businesses.
</div>