@page
@model AboutModel
@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1>
<br/>
<div class="justify-content-center">
    Robusoft Limited was founded in 2021 when me and my wife decided to go independent and unlock our full potential as a team. 
    We have a combined 50 years of IT experience encompassing the entire SDLC from analysis and design to development, QA, deployment and ongoing production support.
    We have been exposed to different technologies along the way with the most recent being Azure cloud and Snowflake.
</div>
<br/>
<h3>Mission</h3>
<p>
    Our mission is to provide robust and secure software solutions / technologies to enable businesses to improve and simplify operations.
</p>
