@page
@model Robusoft.Pages.CareersModel
@{
    ViewData["Title"] = "Careers";
}
<h1>@ViewData["Title"]</h1>
<br/>
<p>
    Come work with us.
</p>
<br/>
<p>
    We are always looking for talented people.
    Please drop us an <a href="mailto:galcantarajr@gmail.com">email</a>.
</p>